[dir=rtl] body header #topbar .socials {
  border-right: none;
  border-left: 1px solid #374969;
  padding-right: 0px;
}
[dir=rtl] body header #topbar .socials li a {
  padding-right: 0px;
  padding-left: 18px;
}
[dir=rtl] body header .topbar-items li {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 0px !important;
  padding-right: 18px !important;
}
[dir=rtl] body header .topbar-items li:first-child {
  border-right: none;
}
[dir=rtl] body header .st-list {
  padding: 0px;
}
[dir=rtl] body header .header #main-menu li.menu-item-has-children .menu-dropdown {
  left: unset;
  right: 0px;
}
[dir=rtl] body header .header .header-left .logo {
  margin-right: 0px;
  margin-left: 30px;
  float: right;
}
[dir=rtl] body header .header .dropdown-user-dashboard img.avatar {
  margin-right: 0px;
  margin-left: 5px;
}
[dir=rtl] .st-icheck-item {
  padding-left: 0px;
  padding-right: 26px;
}
[dir=rtl] .st-icheck-item label .checkmark {
  left: auto;
  right: 0px;
}
[dir=rtl] .toolbar-action .layout-item {
  margin-left: 0px;
  margin-right: 7px;
  float: right;
}
[dir=rtl] .toolbar-action .sort-menu .sort-item span.title {
  text-align: right;
}
[dir=rtl] .toolbar .sort-menu .sort-title h3 {
  text-align: right;
}
[dir=rtl] .toolbar .sort-menu .sort-title h3:before {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
[dir=rtl] .search-result-page.st-search-car .sidebar-search-form .search-form .form-group.form-date-car .date-wrapper .check-in-wrapper,
[dir=rtl] .search-result-page.st-search-car .sidebar-search-form .search-form .form-group.form-date-car .date-wrapper .check-out-wrapper {
  padding-left: 0px;
  padding-right: 20px;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul {
  padding-right: 0;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul li:first-child {
  padding-left: unset;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul li:first-child {
  padding-right: 0;
  padding-left: 20px;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul li:not(:last-child):after {
  right: unset;
  left: -2px;
}
[dir=rtl] .st-service-feature .item .icon {
  margin-right: 0px;
  margin-left: 15px;
}
[dir=rtl] #st-content-wrapper .st-gallery .shares {
  right: unset;
  left: 30px;
}
[dir=rtl] .single-st_tours #reviews .review-box-score, [dir=rtl] .single-st_rental #reviews .review-box-score, [dir=rtl] .single-st_cars #reviews .review-box-score, [dir=rtl] .single-st_activity #reviews .review-box-score, [dir=rtl] .single-hotel_room #reviews .review-box-score {
  border-right: none;
  border-left: 1px solid #d7dce3;
}
[dir=rtl] .single-st_tours #reviews .review-sumary .item .label, [dir=rtl] .single-st_rental #reviews .review-sumary .item .label, [dir=rtl] .single-st_cars #reviews .review-sumary .item .label, [dir=rtl] .single-st_activity #reviews .review-sumary .item .label, [dir=rtl] .single-hotel_room #reviews .review-sumary .item .label {
  margin-right: 0px;
  margin-left: 3%;
}
[dir=rtl] .single-st_tours #reviews .review-sumary .item .number, [dir=rtl] .single-st_rental #reviews .review-sumary .item .number, [dir=rtl] .single-st_cars #reviews .review-sumary .item .number, [dir=rtl] .single-st_activity #reviews .review-sumary .item .number, [dir=rtl] .single-hotel_room #reviews .review-sumary .item .number {
  margin-left: 0px;
  margin-right: 3%;
}
[dir=rtl] #st-content-wrapper .review-list .comment-item .media {
  margin-right: 0px;
  margin-left: 100px;
}
[dir=rtl] #st-content-wrapper .review-list .comment-item-body .title .comment-rate {
  margin-right: 0px;
  margin-left: 15px;
}
[dir=rtl] #st-content-wrapper .st-attributes .item-attribute .item .fa {
  margin-right: unset;
  margin-left: 15px;
}
[dir=rtl] .accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}
[dir=rtl] .st-results .search-form .search-title:before, [dir=rtl] .st-results h3.sidebar-title:before {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
[dir=rtl] #st-content-wrapper #write-review #respond .review-items .item .rates i:not(:first-child) {
  margin-right: 20px;
}
@media screen and (min-width: 991px) {
  [dir=rtl] .sidebar-filter .search-form form .form-button {
    padding-left: 15px;
  }
  [dir=rtl] .search-form form .border-right {
    border-right: none;
    border-left: 1px solid #d7dce3;
  }
  [dir=rtl] .search-form form .form-button {
    border-left: none;
    border-right: 1px solid #d7dce3;
    padding-left: 0px;
    padding-right: 15px;
  }
  [dir=rtl] .service-list-wrapper.list-style .item-service-inner .item-content .item-content-w::after {
    right: unset;
    left: 0px;
  }
  [dir=rtl] .service-list-wrapper.list-style .item-content-w .service-author a {
    margin-right: 0px;
    margin-left: 10px;
  }
}
[dir=rtl] .list-style .item-service .amenities .amenity .input-icon,
[dir=rtl] .item-rental .amenities .amenity .input-icon {
  margin-right: 0px;
  margin-left: 5px;
}
[dir=rtl] .item .featured-image .featured {
  left: unset;
  border-radius: 3px 0px 0px 3px;
  right: 0px;
}
[dir=rtl] .service-add-wishlist {
  right: unset;
  left: 10px;
}
[dir=rtl] .service-list-wrapper .item a.service-avatar {
  right: unset;
  left: 20px;
}
[dir=rtl] .service-list-wrapper.list-style .item-content-w .service-author {
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  [dir=rtl] .search-form form .form-group .date-wrapper {
    padding-left: 0px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=_rtl.css.map */
