.service-add-wishlist {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 21px;
  z-index: 8;
  cursor: pointer;
}

.lds-dual-ring {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 10px;
  display: none;
}

.price-wrapper {
  font-size: 14px;
  color: var(--grey-color, #5E6D77);
}

body {
  font-family: "Poppins";
}
body.single.single-location.st-header-2 #header {
  background-color: transparent;
  margin-bottom: -92px;
  position: relative;
  z-index: 999;
}
body.single.single-location.st-header-2 #header .header {
  border-bottom: none;
}
body.single.single-location .sts-banner {
  background-size: cover !important;
  height: 500px;
  position: relative;
}
body.single.single-location .sts-banner h1 {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  top: 50%;
}
body.single.single-location .search-form-text .nav-tabs {
  margin-left: -15px;
}
body.single.single-location .search-form-text .tab-content .form > .row > div {
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
body.single.single-location .search-form-text .tab-content #st_hotel .form > .row > div:first-child {
  display: none;
}
body.single.single-location .search-form-text .tab-content #st_tours .form > .row > div:first-child {
  display: none;
}
body.single.single-location .search-form-text .tab-content #st_activity .form > .row > div:first-child {
  display: none;
}
body.single.single-location .search-form-text .tab-content #st_rental .form > .row > div:first-child {
  display: none;
}
body.single.single-location .search-form-text .tab-content #st_cars .form > .row > div:first-child {
  display: none;
}
body.single.single-location .search-result-page .search-form-wrapper {
  position: relative;
  width: auto;
  left: auto;
  z-index: auto;
  top: auto;
}
body.single.single-location .search-result-page .search-form-wrapper .nav-tabs {
  margin-top: -80px;
}
body.single.single-location .search-result-page .search-form-wrapper .search-form {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
body.single.single-location .st-overview-content .st-content-over .st-content .title {
  font-size: 28px;
  color: var(--main-color, #1A2B48);
  letter-spacing: 0;
  font-weight: 400;
}
body.single.single-location .st-overview-content .st-content-over .st-content .content {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  color: var(--main-color, #1A2B48);
  letter-spacing: 0;
  font-weight: 300;
}
body.single.single-location .st-overview-content .st-content-over .st-content .read_more a {
  font-size: 14px;
  color: var(--link-color, #5191FA);
  letter-spacing: 0;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content {
  display: flex;
  justify-content: space-between;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul {
  border: none;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li {
  padding: 10px 15px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li a {
  border: none;
  font-size: 16px;
  color: var(--main-color, #1A2B48);
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 500;
  padding: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li a:hover {
  background-color: transparent;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li.active {
  position: relative;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li.active a {
  color: var(--link-color, #5191FA);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li.active a::before {
  position: absolute;
  content: "";
  background-color: var(--link-color, #5191FA);
  bottom: -4px;
  width: 100%;
  height: 2px;
  left: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content {
  margin-top: 60px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .service-border {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: hidden !important;
  padding-bottom: 15px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image {
  position: relative;
  overflow: hidden;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image .featured {
  position: absolute;
  top: 20px;
  left: 0;
  background: #ED0925;
  display: inline-block;
  padding: 0 10px;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  z-index: 1;
  height: 30px;
  line-height: 30px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image .featured::after {
  position: absolute;
  content: "";
  top: -9px;
  right: -10px;
  border: 10px solid transparent;
  border-bottom: 29px solid #ED0925;
  z-index: 1;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image .service-add-wishlist {
  top: 20px;
  right: 20px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image .price-wrapper {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image .price-wrapper .price {
  font-size: 24px;
  color: #FFF;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .featured-image .price-wrapper .unit {
  font-size: 14px;
  color: #FFF;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content {
  padding: 20px 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-title a {
  color: #1A2B50;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .amenities {
  padding-left: 20px;
  padding-right: 20px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-review {
  margin-top: 10px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-review .service-review .rate {
  color: var(--link-color, #5191FA);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-review .service-review .rate {
  color: var(--link-color, #5191FA);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-review .review {
  margin-left: 34px;
  position: relative;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-content .service-review .review::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #D0D7DD;
  border-radius: 50%;
  left: -18px;
  top: 8px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .amenities {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E4E8ED;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .amenities .amenity {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .amenities .amenity .input-icon {
  margin-right: 5px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .thumb {
  overflow: hidden;
  margin-bottom: 16px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .grid-item .thumb .st_sale_class {
  position: absolute;
  width: 80px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -30px;
  top: -13px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  z-index: 8;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .service-review {
  margin-top: 8px;
  margin-bottom: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .service-review .booking-item-rating-stars {
  padding: 0px;
  margin: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .service-review .booking-item-rating-stars li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .service-review .booking-item-rating-stars li .fa {
  font-size: 15px;
  color: #FFDC00;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .service-review .booking-item-rating-stars li .fa.fa-star-o {
  color: #D7DBE3;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .service-review .review {
  margin-left: 10px;
  position: relative;
  top: -1px;
  font-size: 13px;
  color: #768092;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer {
  display: table-footer-group;
  height: 1px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner {
  display: block;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-duration {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--grey-color, #5E6D77);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-duration .field-icon {
  margin-right: 4px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-price {
  display: block;
  margin-left: auto;
  margin-top: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-price span {
  color: var(--grey-color, #5E6D77);
  font-size: 14px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-price .price {
  position: relative;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-price .price span {
  font-size: 18px;
  color: var(--main-color, #1A2B48);
  font-weight: 500;
}
@media (max-width: 767px) {
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-price .price .onsale {
    position: absolute;
    right: 0;
    top: -15px;
    text-decoration: line-through;
    font-size: 14px;
    color: #cc0033 !important;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .section-footer .footer-inner .service-price .price .onsale {
    position: relative;
    top: auto;
    right: 0;
    text-decoration: line-through;
    font-size: 14px;
    color: #cc0033 !important;
    font-weight: 400;
  }
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-border {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 15px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .thumb {
  overflow: hidden;
  margin-bottom: 16px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .car-equipments {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .car-equipments .item {
  text-align: center;
  display: inline-block;
  float: left;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .car-equipments .item .ico {
  display: block;
  text-align: center;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .car-equipments .item:not(:first-child) {
  margin-left: 30px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .feature_class {
  background: #ED0925;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .grid-item .thumb .st_sale_class {
  position: absolute;
  width: 80px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -30px;
  top: -13px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  z-index: 8;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-review {
  margin-top: 8px;
  margin-bottom: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-review .booking-item-rating-stars {
  padding: 0px;
  margin: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-review .booking-item-rating-stars li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-review .booking-item-rating-stars li .fa {
  font-size: 15px;
  color: #FFDC00;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-review .booking-item-rating-stars li .fa.fa-star-o {
  color: #D7DBE3;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .service-review .review {
  margin-left: 10px;
  position: relative;
  top: -1px;
  font-size: 13px;
  color: #768092;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer {
  display: table-footer-group;
  height: 1px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner {
  display: block;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-duration {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--grey-color, #5E6D77);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-duration .field-icon {
  margin-right: 4px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-price {
  display: block;
  margin-left: auto;
  margin-top: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-price span {
  color: var(--grey-color, #5E6D77);
  font-size: 14px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-price .price {
  position: relative;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-price .price span {
  font-size: 18px;
  color: var(--main-color, #1A2B48);
  font-weight: 500;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-price .price .onsale {
  position: relative;
  top: auto;
  right: 0;
  text-decoration: line-through;
  font-size: 14px;
  color: #cc0033 !important;
  font-weight: 400;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .section-footer .footer-inner .service-price .init {
  font-size: 14px;
  color: var(--grey-color, #5E6D77);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .thumb {
  overflow: hidden !important;
  margin-bottom: 16px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .grid-item .thumb .st_sale_class {
  position: absolute;
  width: 80px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -30px;
  top: -13px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  z-index: 8;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .service-review {
  margin-top: 8px;
  margin-bottom: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .service-review .booking-item-rating-stars {
  padding: 0px;
  margin: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .service-review .booking-item-rating-stars li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .service-review .booking-item-rating-stars li .fa {
  font-size: 15px;
  color: #FFDC00;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .service-review .booking-item-rating-stars li .fa.fa-star-o {
  color: #D7DBE3;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .service-review .review {
  margin-left: 10px;
  position: relative;
  top: -1px;
  font-size: 13px;
  color: #768092;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer {
  display: table-footer-group;
  height: 1px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-duration {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--grey-color, #5E6D77);
  margin-right: 15px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-duration .field-icon {
  margin-right: 4px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-price {
  margin-left: auto;
  margin-top: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-price span {
  color: var(--grey-color, #5E6D77);
  font-size: 14px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-price .price {
  position: relative;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-price .price span {
  font-size: 18px;
  color: var(--main-color, #1A2B48);
  font-weight: 500;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .section-footer .footer-inner .service-price .price .onsale {
  position: absolute;
  right: 0;
  top: -15px;
  text-decoration: line-through;
  font-size: 14px;
  color: #cc0033 !important;
  font-weight: 400;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service {
  position: relative;
  margin-bottom: 30px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb a {
  display: block;
  overflow: hidden;
  width: 100%;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb a img {
  min-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .service-avatar img {
  display: none;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .booking-item-rating-stars {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 12px;
  left: 14px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .booking-item-rating-stars span {
  display: none;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .booking-item-rating-stars li {
  list-style: none;
  float: left;
  color: var(--orange-color, #FA5636);
  margin-right: 3px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .service-tag {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 500;
  z-index: 8;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .service-tag.bestseller {
  background: #ED0925;
  border-radius: 0 4px 4px 0;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .thumb .service-tag.bestseller .feature_class {
  border-radius: 0 3px 3px 0;
  padding: 6px 10px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service h4.service-title {
  font-size: 16px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service h4.service-title a {
  color: #1A2B50;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service p.service-location {
  font-size: 13px;
  color: var(--grey-color, #5E6D77);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service p.service-location .fa {
  position: relative;
  top: 3px;
  left: -2px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review .rating {
  font-size: 14px;
  color: var(--link-color, #5191FA);
  margin-right: 10px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review .st-dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #D0D7DD;
  display: block;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review .review {
  margin-left: 10px;
  font-size: 14px;
  color: #6A7A84;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-price span {
  font-size: 14px;
  color: var(--grey-color, #5E6D77);
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-price .fa {
  position: relative;
  top: 3px;
  left: 0px;
}
body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-price span.price {
  font-size: 18px;
  color: #1A2B50;
  margin-left: 5px;
  margin-right: 5px;
}

.grid-item .plr15 {
  padding-left: 15px;
  padding-right: 15px;
}

.feature_class {
  background: #19A1E5;
}

.service-add-wishlist {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 21px;
  z-index: 8;
  cursor: pointer;
}
.service-add-wishlist lds-dual-ring {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 10px;
  display: none;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.location-list-post .list_ccv .item {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%);
  transform: translateY(-50%);
}
.location-list-post .list_ccv .item .st_category {
  font-size: 14px;
  color: var(--link-color, #5191FA);
  letter-spacing: 0;
  text-transform: uppercase;
}
.location-list-post .list_ccv .item .title {
  margin-top: 10px;
}
.location-list-post .list_ccv .item .title h2 {
  font-weight: 300;
  font-size: 36px;
  color: var(--main-color, #1A2B48);
  letter-spacing: 0;
}
.location-list-post .list_ccv .item .content p {
  font-size: 16px;
  color: var(--grey-color, #5E6D77);
  letter-spacing: 0;
  margin-top: 40px;
  margin-bottom: 48px;
}

body .button-color a {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #D7DCE3;
  border-radius: 3px;
  font-size: 14px;
  color: var(--main-color, #1A2B48);
  padding: 10px 24px;
  line-height: 50px;
  transition: background-color 0.3s;
  text-decoration: none;
}
body .button-color a:hover {
  border: 1px solid var(--link-color, #5191FA);
  color: #FFFFFF;
  background-color: var(--link-color, #5191FA);
}
body .button-color a:hover::after {
  transform: scaleY(1);
}
body .button-color a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background: #3484F5;
  z-index: -1;
  transition: transform 0.3s;
}

@media all and (min-width: 769px) {
  body.single.single-location .tab-content .form > .row > div:last-child {
    padding-right: 0px;
    border-radius: 0 5px 5px 0;
  }
  body.single.single-location .search-result-page .search-form-wrapper .search-form .field-advance .dropdown-menu {
    min-width: 620px;
  }
}
.st_ccv_title_location h3 {
  font-size: 28px;
  color: var(--main-color, #1A2B48);
  letter-spacing: 0;
  font-weight: 400;
}

.mobile-left a {
  color: var(--main-color, #1A2B48);
}
.mobile-left a:hover {
  color: var(--main-color, #1A2B48);
}
.mobile-left img {
  width: 30px;
  height: 14px;
  padding-right: 15px;
}

a:hover {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  div[class*=vc_custom_] {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  body .button-color a {
    padding: 10px;
  }

  .mobile-left {
    text-align: left !important;
  }
  .mobile-left img {
    width: 30px;
    height: 14px;
    padding-right: 15px;
  }

  .location-list-post .list_ccv .item .title h2 {
    font-size: 24px;
  }

  .location-list-post .list_ccv .item .content p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 28px;
  }

  .location-list-post .list_ccv .item {
    position: relative;
    top: auto;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 30px;
  }

  .st_ccv_title_location h3 {
    font-size: 20px;
  }

  .margin-bottom-90 {
    margin-bottom: 30px;
  }

  body.single.single-location .st-overview-content .st-content-over {
    margin-bottom: 45px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service:nth-child(2n+1) {
    clear: both;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content {
    display: block;
    text-align: center;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li {
    list-style: none;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-bottom: 15px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li a {
    font-size: 13px;
    background: transparent;
    color: #333;
    border: 1px solid #dfdfdf;
    padding: 8px 15px;
    border-radius: 4px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review .rating {
    font-size: 12px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review .st-dot {
    display: none;
  }

  body.single.single-location .st-overview-content .st-content-over .st-content .title h3 {
    margin-bottom: 24px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review .review {
    margin-left: 0px;
    font-size: 12px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul li.active a::before {
    display: none;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content {
    margin-top: 15px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service h4.service-title {
    font-size: 15px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-border {
    border: none;
  }

  .plr15 {
    padding-left: 0px;
    padding-right: 0px;
  }

  body.single.single-location .search-result-page .search-form-wrapper .nav-tabs {
    margin-top: 0px;
    margin-right: -15px;
    margin-left: -15px;
  }
  body.single.single-location .search-result-page .search-form-wrapper .nav-tabs li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
    width: auto;
    text-align: center;
    margin-right: 1px;
  }
  body.single.single-location .search-result-page .search-form-wrapper .nav-tabs li a {
    margin-right: 0px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service {
    margin-bottom: 30px;
    display: table;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-review {
    margin-top: 0px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service p.service-location {
    font-size: 12px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-price span {
    font-size: 12px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content .modern-search-result .item-service .service-price span.price {
    font-size: 16px;
  }

  body.single.single-location .search-form-wrapper .tab-content .tab-pane .search-form .form-button .btn-search {
    position: relative;
  }

  body.single.single-location #st-content-wrapper .search-form-wrapper {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: -15px;
    margin-right: -15px;
  }

  body.single.single-location .sts-banner {
    height: 300px;
  }
  body.single.single-location .sts-banner h1 {
    font-size: 30px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service {
    display: block;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .service-review {
    display: block;
    width: 100%;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .service-review .booking-item-rating-stars {
    display: inline-block;
    width: 100%;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .service-review .review {
    margin-left: 0px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .footer-inner {
    display: block;
    position: relative;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .footer-inner .service-duration {
    display: block;
    width: 100%;
    float: none;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .footer-inner .service-price {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service {
    display: block;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .service-review {
    display: block;
    width: 100%;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .service-review .booking-item-rating-stars {
    display: inline-block;
    width: 100%;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .service-review .review {
    margin-left: 0px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .footer-inner {
    display: block;
    position: relative;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .footer-inner .service-duration {
    display: block;
    width: 100%;
    float: none;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .footer-inner .service-price {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service {
    display: block;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service .service-review {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 15px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service .service-review .booking-item-rating-stars {
    display: inline-block;
    width: 100%;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service .service-review .review {
    margin-left: 0px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service .footer-inner {
    display: block;
    position: relative;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service .footer-inner .service-duration {
    display: block;
    width: 100%;
    float: none;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #cars-search-result .item-service .footer-inner .service-price {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service {
    display: block;
    padding-bottom: 0px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service:nth-child(2n+1) {
    padding-right: 0px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .service-border {
    border: none;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .service-border .featured-image .service-add-wishlist {
    right: 0;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .service-border .featured-image .price-wrapper .price {
    font-size: 14px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .service-border .featured-image .price-wrapper .unit {
    font-size: 12px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .amenities {
    display: none;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .item-content {
    padding: 15px 0px;
  }
  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #rental-search-result .item-service .item-content a {
    font-size: 15px;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #tour-search-result .item-service .service-border, body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-tab-service-content #activity-search-result .item-service .service-border {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    overflow: hidden !important;
    height: 100%;
    padding-bottom: 15px;
    display: table;
  }

  body.single.single-location .st-overview-content.st_tab_service .st-content-over .st-content .st_tab_service ul {
    margin-top: 0px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  }
}
.ajax-filter-cover {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 55px;
  /* overflow: hidden; */
}

.ajax-filter-cover:after {
  content: "";
  clear: both;
  display: block;
}

.ajax-filter-loading {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: none;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.ajax-filter-loading:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.ajax-filter-loading img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h3.ajax-filter-not-found {
  padding: 10px;
  text-align: center;
}

.add-item-to-wishlist {
  display: inline-block;
  height: 35px;
  margin-left: 5px;
  padding: 11px 0px;
  vertical-align: bottom;
  cursor: pointer;
}

.add-item-to-wishlist i {
  display: block;
}

.add-item-to-wishlist i.loading {
  display: none;
}

.add-item-to-wishlist.loading i {
  display: none;
}

.add-item-to-wishlist.loading i.loading {
  display: block;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.style_box .add-item-to-wishlist {
  position: absolute;
  bottom: 12px;
  left: 3px;
  z-index: 9999;
  height: 0;
  font-size: 16px;
  line-height: 0;
}

.style_list .add-item-to-wishlist.pos2 {
  display: none;
}

@media (max-width: 1024px) {
  .page-template-template-tour-search .booking-list .btn_book,
.page-template-template-activity-search .booking-list .btn_book {
    float: left;
    margin-top: 10px;
  }

  .style_list .add-item-to-wishlist {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .page-template-template-tour-search .booking-list .btn_book,
.page-template-template-activity-search .booking-list .btn_book {
    float: right;
  }

  .style_list .add-item-to-wishlist {
    display: none;
  }

  .style_list .add-item-to-wishlist.pos2 {
    display: block;
    position: absolute;
    left: 5px;
    bottom: 2px;
    font-size: 17px;
  }

  .page-template-template-activity-search .style_list .add-item-to-wishlist.pos2 {
    display: block;
    position: absolute;
    left: 55px;
    bottom: -2px;
    font-size: 17px;
  }
}
.st_sale_class {
  background-color: #cc0033;
}

.st-pagination-ccv {
  text-align: center;
  display: block;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.st-pagination-ccv ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.st-pagination-ccv ul li {
  list-style: none;
  font-size: 16px;
  color: #768090;
  float: left;
  margin-right: 10px;
}
.st-pagination-ccv ul li a {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-decoration: none;
  color: var(--grey-color, #5E6D77);
}
.st-pagination-ccv ul li a.current {
  border: 1px solid var(--link-color, #5191FA) !important;
  border-radius: 3px;
  background: transparent !important;
  color: var(--link-color, #5191FA) !important;
}
.st-pagination-ccv ul li:last-child {
  margin-right: 0px;
}
.st-pagination-ccv span.count-string {
  font-size: 14px;
  color: #768090;
  margin-top: 5px;
  display: none;
}

.st-loader-ccv {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: rgba(255, 255, 255, 0.6);
}

.st-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 6px;
  background: var(--link-color, #5191FA);
  border-radius: 5px;
  margin-left: -25px;
  animation: load 1.8s ease-in-out infinite;
}

.st-loader:before, .st-loader:after {
  position: absolute;
  display: block;
  content: "";
  animation: load 1.8s ease-in-out infinite;
  height: 6px;
  border-radius: 5px;
}

.st-loader:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: var(--orange-color, #FA5636);
  margin-left: -20px;
}

.st-loader:after {
  bottom: -20px;
  width: 35px;
  background: #ffab53;
  margin-left: -17px;
}

.single-location.st-header-2 #header .header .header-left #st-main-menu .main-menu > li > a {
  color: #FFF;
}

.single-location.st-header-2 #header .header .header-left #st-main-menu .main-menu li.menu-item-has-children .fa {
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .single-location.st-header-2 #header .header .header-left #st-main-menu .main-menu li.menu-item-has-children .fa {
    color: var(--main-color, #1A2B48);
  }
}

.single-location .search-result-page .search-form-wrapper .search-form .form-date-field .check-in-wrapper .check-in-render {
  font-size: 15px;
}

.single-location .search-result-page .search-form-wrapper .search-form .form-date-field .check-in-wrapper .check-out-render {
  font-size: 15px;
}

@media (max-width: 991px) {
  .single-location.st-header-2 #header .header .header-left #st-main-menu .main-menu > li > a {
    color: var(--main-color, #1A2B48);
  }
}

/*# sourceMappingURL=location.css.map */
